/* mobile phone */
@media (max-width: 768px) {
    .head .title {
        width: 60px;
    }
    .body .left-menu {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 999;
      max-width: 45vw;
      height: 100vh;
    }
    .left-menu .menu-item span {
      font-size: 12px !important;
    }
    .footer {
      display: none;
    }
  }
  
  /* tablet portrait */
  @media (min-width: 768px) {
    .head .title {
        width: 90px;
    }
    .body .left-menu {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 999;
      max-width: 33vw;
      height: 100vh;
    }
  }
  
  /* desktop */
  @media (min-width: 1024px) {
    .head .menu-switch {
        opacity: 0;
        cursor: default !important;
     }
     .body .left-menu {
      position: static;
       height: calc(100vh - 100px);
     }
     .footer {
       height: 30px;
       line-height: 30px;
       text-align: center;
       font-size: 14px;
       box-shadow: 0 0 5px rgba(0, 0, 0, .3);
     }

  }
  /* desktop HD */
  @media (min-width: 1200px) {
    .head .user-info {
      position: relative;
      right: 80px;
    }
    .head .user-info .icon-angle-down {
        opacity: 0;
    }
    .body {
      padding-left: 5%;
      padding-right: 5%;
    }
  }